NAVBAR.HTML
 
<div class="nav-container">
<h1>
<a routerLink="/">Vechile Service</a>
</h1>
<ul *ngIf="!isUserLoggedIn()">
<li><a routerLink="/registration">Register</a></li>
<li><a routerLink="/login">Login</a></li>
<li><a routerLink="/">Home</a></li>
</ul>
<ul *ngIf="isUserLoggedIn()">
<li>{{ service.getAuthenticatedUser() }} ({{ service.getRole() }})</li>
<li><a routerLink="/">Home</a></li>
<ng-container *ngIf="isAdmin()">
<li>
<a (click)="toggleDropdown()">Services</a>
<ul *ngIf="showDropdown">
<li><a routerLink="/add-flight">Add Service</a></li>
<li><a routerLink="/flight-list">View Services</a></li>
</ul>
</li>
<li><a routerLink="/booking">Appointments</a></li>
<li><a routerLink="/booking">Feedbacks</a></li>
<li><a routerLink="/booking">Customer</a></li>

</ng-container>
<ng-container *ngIf="isCustomer()">
<li><a routerLink="/flight-list">Appointments</a></li>
<li><a routerLink="/my-history">Feedback</a></li>
</ng-container>
<li><a (click)="confirmLogout()">Logout</a></li>
</ul>
<div *ngIf="showLogoutPopup">
<p>Are you sure you want to logout?</p>
<button (click)="logout()">Yes</button>
<button (click)="cancelLogout()">No</button>
</div>
</div>