  <div class="profile-container">
    <h2>User Profile <span class="edit-icon" (click)="enableEdit()">&#9998;</span></h2>
  
    <!-- View Mode -->
    <div *ngIf="!isEditing">
      <img [src]="profileImage" alt="Profile Image" class="profile-img" />
      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Mobile Number:</strong> {{ mobileNumber }}</p>
    </div>
  
    <!-- Edit Mode -->
    <div *ngIf="isEditing">
      <label>Username:</label>
      <input type="text" [(ngModel)]="username"/>
      <small *ngIf="usernameError" class="error">Enter a valid username</small>
  
      <label>Email:</label>
      <input type="text" [(ngModel)]="email" />
      <small *ngIf="emailError" class="error">Enter a valid email</small>
  
      <label>Mobile Number:</label>
      <input type="text" [(ngModel)]="mobileNumber" />
      <small *ngIf="mobileError" class="error">Enter a valid mobile number</small>
  
      <button (click)="updateProfile()">Update Profile</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  
    <p *ngIf="showSuccess" class="success">✅ Profile updated successfully!</p>
  </div>



