<div class="feedback-container">
    <h2>All Feedbacks</h2>
  
    <table class="feedback-table" *ngIf="allFeedbacks.length > 0; else noFeedback">
      <thead>
        <tr>
          <th>ID</th>
          <th>User Name</th>
          <th>Comments</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of allFeedbacks">
          <td>{{ feedback.feedbackId }}</td>
          <td>{{ feedback.user.username }}</td>
          <!-- <td>{{ feedback.comments }}</td> -->
          <td>{{ feedback.rating }}</td>
          <td>
            <button class="btn update" (click)="updateFeedback(feedback.feedbackId, feedback)">Update</button>
            <button class="btn delete" (click)="deleteFeedback(feedback.feedbackId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noFeedback>
      <p class="no-data">No feedback available.</p>
    </ng-template>
  </div>
  