<div class="nav-container" (mouseleave)="closeAllDropdowns()">
    <ul *ngIf="isUserLoggedIn()">
      <li>
        {{ service.getAuthenticatedUser() }} ({{ service.getRole() }})
      </li>
      <li>
        <a routerLink="/">Home</a>
      </li>
  
      <ng-container *ngIf="isCustomer()">
        
        <li class="dropdown">
          <a (click)="toggleAppointmentsDropdown()" role="button" aria-haspopup="true" aria-expanded="{{ showAppointmentsDropdown }}">
            Appointments
          </a>
          <ul *ngIf="showAppointmentsDropdown">
            <li><a routerLink="/useraddappointment">Book Appointment</a></li>
            <li><a routerLink="/userviewappointment">View Appointments</a></li>
          </ul>
        </li>
  
        
        <li class="dropdown">
          <a (click)="toggleFeedbackDropdown()" role="button" aria-haspopup="true" aria-expanded="{{ showFeedbackDropdown }}">
            Feedback
          </a>
          <ul *ngIf="showFeedbackDropdown">
            <li><a routerLink="/useraddfeedback">Add Feedback</a></li>
            <li><a routerLink="/userviewfeedback">View Feedback</a></li>
          </ul>
        </li>
  
        
<li>
  <a routerLink="/profile" class="profile-icon"></a>
</li>


      </ng-container>
  
      <li>
        <button class="logout-btn" (click)="confirmLogout()">Logout</button>
      </li>
    </ul>
  
    <div *ngIf="showLogoutPopup" class="logout-popup">
      <p>Are you sure you want to logout?</p>
      <button (click)="logout()">Yes</button>
      <button (click)="cancelLogout()">No</button>
    </div>
  </div>