
<div class="nav-container">
  <div class="logo">VehicleService</div>

  <ul *ngIf="isUserLoggedIn()">
   
    <li class="admin-box"> {{service.getAuthenticatedUser()}} / {{ service.getRole() }}</li>

    
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/adminaddservice">Services</a></li>
    <li><a routerLink="/adminviewappointment">Appointments</a></li>
    <li><a routerLink="/adminviewfeedback">Feedbacks</a></li>
    <li><a routerLink="/adminviewuserdetails">Customer</a></li>

    
    <li><button class="logout-btn" (click)="confirmLogout()">Logout</button></li>
  </ul>


  <div *ngIf="showLogoutPopup" class="logout-popup">
    <p>Are you sure you want to logout?</p>
    <button (click)="logout()">Yes</button>
    <button (click)="cancelLogout()">No</button>
  </div>

</div>